{% extends "cargafiles/base.html" %}


{% block content %}


<!-- Page Features -->
<div class="row text-center" id="cont_tabla">
    <div class="col-sm-12">
        <table class="table table-scroll table-striped" >
            <thead>
                <tr>
                    <th class="text-center">nom</th>
                    <th class="text-center">Unidad Operativa</th>
                    <th class="text-center">Rutas</th>
                    <th class="text-center">Faltantes</th>
                    <th class="text-center">Duplicados</th>
                    <th class="text-center">Recargas</th>
                    <th class="text-center">Archivos Excedentes</th>
                    <th class="text-center">Porcentaje</th>
                </tr>
            </thead>
            <tbody>
            {% for unidad_operativa in total_unidades_operativas %}
                <tr>
                    <td>{{unidad_operativa.nomen}}</td>
                    <td>{{unidad_operativa.nombre}}</td>
                    <td>{{ unidad_operativa.unica }} de {{unidad_operativa.numero_rutas}}</td>
                    <td>
                        <div class="dropdown">
                            <span  id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                {{ unidad_operativa.total_faltante }}
                            </span>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                {% for faltante in unidad_operativa.faltante  %}
                                    <li>{{faltante}}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </td>
                    <td>

                        <div class="dropdown">
                            {% if unidad_operativa.total_duplicada == 0 %}
                                <span id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            {% else %}
                                <span class="label label-danger id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            {% endif %}


                            {{ unidad_operativa.total_duplicada }}
                            </span>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                {% for duplicadas in unidad_operativa.duplicada  %}
                                    <li>{{duplicadas}}</li>
                                {% endfor %}

                            </ul>
                        </div>
                    </td>
                    <td>
                        <div class="dropdown">
                            <span  id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                {{ unidad_operativa.total_recargas }}
                            </span>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                {% for recargas in unidad_operativa.recargas  %}
                                    <li>{{recargas}}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </td>
                    <td>
                        <div class="dropdown">
                            <span  id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            {{ unidad_operativa.total_excedente }}
                            </span>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                {% for excedente in unidad_operativa.excedente  %}
                                    <li>{{excedente}}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </td>
                    <td>
                        <div class="progress progress-striped progress-bar-danger active">
                            <div class="progress-bar" role="progressbar"
                                aria-valuenow="45" aria-valuemin="0" aria-valuemax="100"
                                style="width: {{unidad_operativa.porcentaje}}%"> %{{unidad_operativa.porcentaje}}
                            </div>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<!-- /.row -->


<hr>

{% endblock %}